---
layout: default
title: 我的Blog
---
<div class="main cf">
	<div class="layL fl">
		<ul class="list">
			{% for post in paginator.posts %}
			<li class="cf">
				<a class="list_type" href="javascript:void(0)">JS</a>
				<div class="list_con">
					<strong class="list_tit"><a href="{{ post.url }}">{{ post.title }}</a></strong>
					<span class="list_date">{{ rpost.date | date: "%Y-%m-%d" }}</span>
					<span class="list_intr">{{ post.content | strip_html | truncate:80 }}...</span>
					<a class="list_more" href="{{ post.url }}">详细</a>
				</div>
			</li>
			{% endfor %}
		</ul>
		{% if paginator.total_pages > 1 %}
		<div class="page">
		    <ul class="pagination-list">
		        {% for page in (1..paginator.total_pages) %}
		            {% if page == paginator.page %}
		                <i>{{ page }}</i>
		            {% else %}
		                <a href="{{ site.url }}/{%if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a>
		            {% endif %}
		        {% endfor %}
		    </ul>
		</div>
		{% endif %}
	</div>
	<div class="layR fr">
		<div class="aboutMe mt20">
			关于我：<br>
			<span class="gray">喜欢Web相关技术，喜欢打羽毛球，一直在互联网行业发展，目前在太平洋网络从事前端开发工作。</span>
		</div>
	</div>
</div>