<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>cominglife</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link type="text/css" rel="stylesheet" href="http://git.comingfront.com/css/style.css" />
</head>
<body>

<div class="head">
	<div class="head_logo fl">ComingLife</div>
	<div class="head_link fl">
		<a href="http://git.comingfront.com">首页</a>
	</div>
</div>

<div class="main cf">
	<div class="article">
		<div class="article_tit">
			<h1>{{ page.title }}</h1>
			<span class="gray">{{ page.date | date_to_string }}</span>
		</div>
		<div class="article_con">

{{ content }}

		</div>
	</div>
</div>

<div class="footer">
	<i class="footer_line"></i>
	<div class="footer_con gray">
		© www.comingfront.com
	</div>
</div>

</body>
</html>