<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>cominglife</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>

<div class="head">
	<div class="head_logo fl">ComingLife</div>
	<div class="head_link fl">
		<a href="http://git.comingfront.com">首页</a>
	</div>
</div>

{{ content }}

<div class="footer">
	<i class="footer_line"></i>
	<div class="footer_con gray">
		© www.comingfront.com
	</div>
</div>

</body>
</html>